ul{
	padding: 0;
	margin: 0;
	width: 600px;
	height: 600px;
	margin: 100px auto;
}
li{
	list-style: none;
	margin: 0;
	width: 200px;
	height: 200px;
	position: relative;
	float: left;
	overflow: hidden;
}
div{
	width: 200px;
	position: absolute;
	left: 0;
	top: 0;
}
img{
	vertical-align: top;
	width: 200px;
	height: 200px;
}