body{
	margin:0; 
}
#div1{
	width: 800px;
	border: 1px solid #ccc;
	padding: 10px;
	line-height: 30px;
	margin:100px auto;
	overflow:auto;

}
#div2{
	width: 500px;
	height:100px; 
	position: absolute;
	left: 0px;
	top: 0px;
	line-height: 30px;
	border:1px solid red;
	display: none;
	text-indent:1rem;
	background: deeppink;
	overflow:auto;

}
p{
	text-indent: 1rem;
}
span{
	color: cyan;
	cursor: pointer;
	white-space:nowrap;
}
