ul{
	padding: 0;
	width: 500px;
	height: 70px;
	overflow: hidden;
	margin: 100px auto;
}
li{
	list-style: none;
	width: 50px;
	height: 70px;
	position: relative;
	float: left;
	margin: 0;
}

div{
	width: 50px;
	height:70px;
	position: absolute;
	top: 0;
}
img{
	vertical-align: top;
}