/*
                                                                                     吊顶部分
 *             */
body{
	background: #fff;
}
#top{
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #efefef;
	background: #fafafa;
	position: fixed;
	top: 0;
	left: 0;
}
.top{
	width: 1200px;
	height: 40px;
	margin: 0 auto;
}
.top h2{
	width: 100px;
	height: 40px;
	background: url(../img/hellokitty彩妆/5-3-1-1.jpg) no-repeat;
	
}
.top_service{
	margin-top: 11px;
	display: inline;
	margin-left: 26px;
}
.topnav{
	height: 40px;
	line-height: 38px;
	margin-left: 12px;
}
.topnav li{
	height: 40px;
	width: 110px;
	border-left: 1px solid #e1e1e1;
	text-align: center;
}
.topnav li a{
	color: #333333;
	font-weight: bold;
}
.topnav_5{
	border-right: 1px solid #e1e1e1;
}
.topnav li:hover{
	background: #e60012;
	border-left: 1px solid #e60012;
	border-bottom: 1px solid #e60012;
}
.topnav li:hover a{
	color: #fff;
}
.topnav .topnav_5:hover{
	border-right: 1px solid #e60012;
}
.topnav_right{
	height: 28px;
	margin-right: 11px;
	margin-top: 6px;
	display: inline;
}
/*
                                                                           主体内容
 * */
#content{
	width: 100%;
	height: 8929px;
	background: #ffffff;
}
.content{
	width: 1200px;
	height: 8929px;
	margin: 0 auto;
}
/* 
                                                                             主体内容的左边
 * */
.cotent_left_1{
	width: 198px;
	border: 1px solid #dedede;
	border-top: 0;
	height: 1600px;
	margin-bottom: 10px;
	
}
.cotent_left_1 li{
	margin-top: 30px;
}
.cotent_left_1 .margin{
	margin: 0;
}
.cotent_left_btn{
	margin-left: 98px;
}
/*
                                     主题内容左边第2块
 * */
.cotent_left_2{
	width: 198px;
	height: 631px;
	border: 1px solid #dedede;
}
.cotent_left_2 li{
	width: 178px;
	height: 73px;
	margin: 10px;
	background: url(../img/hellokitty彩妆/5-3-1-19.jpg) 0 72px no-repeat;
}
.cotent_left_2left{
	width: 60px;
	height: 60px;
	margin-right:7px ;
}
.cotent_left_2right{
	line-height: 22px;
	height: 80px;
	font-family: arial;
}
.cotent_left_2right span{
	font-size: 12px;
}
.cotent_left_2right strong{
	font-size: 12px;
	
}
.cotent_left_2 .cotent_left_cksy{
	width: 178px;
	height: 30px;
	margin-top: 10px;
} 
.content_right{
	width: 750px;
	height: 8929px;
	margin-left: 132px;
}
.content_right li{
	margin-bottom: 30px;
}
/*
                                                                               消息反馈
 * */
#friendLink{
	width: 100%;
	height: 40px;
	margin-bottom: 12px;
}
.friendLink{
	width: 1200px;
	height: 40px;
	margin: 0 auto;
}
.friendLink p{
	width: 978px;
	height: 38px;
	margin-left: 220px;
	background: #f7f7f7;
	border: 1px solid #eaeaea;
	line-height: 38px;
	font-size: 12px;
	color: #000000;
	text-indent: 12px;
}
/*
                                                                       服务承诺与温馨提示
 * */
#msg{
	width: 100%;
	height: 202px;
	padding-bottom: 30px;
}
.msg{
	width: 1200px;
	height: 202px;
	margin: 0 auto;
}
.msg img{
	width: 978px;
	height: 200px;
	border: 1px solid #eaeaea;
	margin-left: 220px;
}
/*
                                                              评价反馈
 * */
#feedback{
	width: 100%;
	height: 157px;
}
.feedback{
	width: 1200px;
	height: 157px;
	margin: 0 auto;
}
.feedback1{
	width: 978px;
	height: 155px;
	border: 1px solid #eaeaea;
	margin-left: 220px;
	background: #f7f7f7;
}
.feedback_left{
	height: 155px;
	border-right:  1px solid #eaeaea;
}
.feedback_conter{
	width: 574px;
	height: 155px;
	margin-left: 19px;
	display: inline;
}
.feedback_conter_top{
	height: 53px;
	margin-top: 26px;
	width: 574px;
}
.feedback_top_left{
	width: 200px;
	height: 53px;
	font-size: 12px;
	margin-right: 18px;
	display:inline;
}
.feedback_top_left2{
	width: 150px;
	height: 8px;
	border: 1px solid #e60012;
	margin-top: 3px;
	overflow: hidden;
}
.feedback_top_left2 div{
	width: 150px;
	height: 8px;
	background: #ffa89c;
}
.feedback_top_left3{
	font-weight: bold;
	text-align: center;
	line-height: 36px;
	position: relative;
	height: 36px;
	width: 152px;
}
.feedback_top_left3 i{
	width: 5px;
	height: 4px;
	overflow: hidden;
	background: url(../img/hellokitty彩妆/5-3-1-24.jpg) no-repeat;
	position: absolute;
	left: 75px;
	top: 0;
}
.feedback_content_bottom{
	width: 520px;
}
.feedback_content_bottom a{
	padding: 4px;
	border: 1px solid #dadada;
	color: #333333;
	margin-left: 5px;
	margin-bottom: 7px;
	font-family: arial;
	float: left;
}
.feedback_right{
	width: 200px;
	height:155px ;
	border-left: 1px solid #e3e3e3;
	font-size: 12px;
	line-height: 20px;
}
.feedback_right dd,.feedback_right dt{
	margin-left: 20px;
}
.feedback_right dt{
	margin-top: 19px;
}
/*
                                                                      用户评价
 * */
#evaluate{
	width: 100%;
	height: 1840px;
}
.evaluate{
	width: 1200px;
	height: 1840px;
	margin:  0 auto;
}
.evaluate1{
	width: 980px;
	height: 1840px;
	margin-left: 220px;
	
}
.evaluate1 form{
	height: 28px;
	padding-top: 20px;
	border-bottom: 1px solid #dadada;
}
.evaluate2{
	width: 83px;
	height: 16px;
	border: 1px solid #a9a9a9;
	border-radius: 2px;
	position: relative;
}
.evaluate2 input{
	width: 71px;
	height: 16px;
	line-height: 16px;
	overflow: hidden;
	outline: none;
}
.evaluate2 i{
	width: 6px;
	height: 6px;
	background: url(../img/hellokitty彩妆/5-3-1-25.jpg)  no-repeat;
	position: absolute;
	right: 6px;
	top: 5px;
	overflow: hidden;
}
/*
                                                                                                       用户评价的内容
 * */
#evaluate3{
	width:980;
	height: 1792px;
	position: relative;
}

.evaluate3_bot{
	height: 165px;
	position: relative;
	margin-top: 20px;
	width: 849px;
	margin-left: 96px;
	border-bottom: 1px solid #f3f3f3;
}
.evaluate3_bot1{
	width: 849px;
	height: 24px;
	background: #fff7f7;
	line-height: 24px;
	font-size: 0;
	
}
.evaluate3_bot1_1{
	width: 29px;
	height: 16px;
	border: 1px solid #ff7878;
	background: #ff7878;
	border-radius: 1px;
	margin: 4px 6px 0 1px;
	overflow: hidden;
	fffecedisplay: inline;
	font-size: 12px;
	text-align: center;
	line-height: 16px;
}
.evaluate3_bot1_2{
	font-size: 12px;
	margin-right: 18px;
}
.evaluate3_bot2{
	width: 849px;
	height: 25px;
	text-align: center;
	margin-top: 15px;
}
.evaluate3_bot2 dd a{
	padding: 6px 5px;
	border-bottom: 1px solid #dadada;
	background: #f4f4f4;
	margin-right: 8px;
}
.evaluate3_bot3{
	height: 14px;
	line-height: 14px;
	margin-top: 16px;
	font-size: 12px;
}
.evaluate3_bot3 dt{
	font-weight: bold;
	
}
.evaluate3_bot4{
	height: 12px;
	margin-left: 40px;
	margin-top: 26px;
	font-size: 12px;
	color: #999999;
}
.evaluate3_bot5{
	height: 26px;
	width: 165px;
}
.evaluate3_bot6{
	width: 50px;
	height: 151px;
	position: absolute;
	left: -96px;
	top: 0px;
	text-align: center;
	font-size: 12px;
}
.evaluate3_bot6 div{
	margin-bottom:10px ;
}
.evaluate4_bot{
	height: 125px;
	position: relative;
	margin-top: 20px;
	width: 849px;
	margin-left: 96px;
	border-bottom: 1px solid #f3f3f3;
}
/*
                                                推荐商品
 * */
#recommend12{
	width: 100%;
	height: 323px;
}
.recommend12{
	width: 1200px;
	height: 323px;
	margin: 0 auto;
}
.recommend12_bot{
	width: 982px;
	height: 321px;
	margin-left: 218px;
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
}
/*
 *                            下搜索栏
  */
#sidebar{
	width: 100%;
	height: 50px;
}
.sidebar{
	width: 1200px;
	height: 50px;
	margin: 0 auto;
}
.sidebar_bot{
	width: 978px;
	height: 48px;
	margin-left: 220px;
	border: 1px solid #e4e4e4;
	background: #f7f7f7;
	
}
.sidebar_bot_left{
	line-height: 46px;
	font-size: 12px;
	margin-left: 40px;
	display: inline;
}
.sidebar_bot_left i{
	color: #eb0012;
}
.sidebar_bot_right1{
	margin-top: 14px;
	margin-right: 10px;
}
.sidebar_bot_right2{
	width: 199px;
	height: 22px;
	border: 1px solid #dddddd;
	border-right: 0;
	line-height: 22px;
}
.sidebar_bot_right3{
	width: 42px;
	height: 24px;
	background:#DDDDDD;
}
.sidebar_bot_right4 a{
	padding: 18px 36px;
	line-height: 48px;
	background: #fe5858;
	color: #FFFfff
}
/*
                                                           商品问答
 * */
#wenda{
	width: 100%;
	height: 126px;
}
.wenda{
	width: 1200px;
	height: 126px;
	margin: 0 auto;
}
.wenda_dl{
	width: 978px;
	height: 124px;
	border: 1px solid #e5e5e5;
	margin-left: 220px;
}
.wenda_dl dt{
	height: 35px;
	line-height: 35px;
	margin-left: 10px;
}
.wenda_dl dd{
	height: 38px;
	line-height: 38px;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	background:#fffece ;
	text-indent: 35px;
	margin-left: 10px;
}
