.textvalue,.sort,.search{
	height: 50px;
	line-height:50px;
}
td{
	text-align: center;
}
a{
	padding: 0 5px;
	color:#000;
}
form{
	text-align:center;

}
a,a1,a2{
	cursor:pointer;
}
.green{
	background:green;
}
.red{
	background:red;
}
span{
	background:#ccc;
	cursor:pointer;
	padding:2px 10px;
	border:1px solid #333333;
}