.top_head{
	display: none;
}
.top_right{
	float: none;
	overflow: hidden;
}

.header h1{
	float: none;
	margin-top: 0;
}
.header_right{
	float: none;
}
.header{
	text-align: center;
}
.content_top_left{
	float: none;
	width: 90%;
	margin-left: 30px;
	
}
.content_top_right{
	float: none;
	width: 90%;
	margin: 0 auto;
	text-align: center;
}
.font_con li{
	float: none;
	width: 100%;
}
