a{
	text-decoration: none;
	font-size: 12px;
	
}
ul,ol{
	margin: 0;
	padding: 0;
	list-style: none;
}
form,h1,h2,h3,h4,h5,h6,dd,dl,li{
				margin:0;
			}
input{
				padding:0;
				margin:0;
				border: none;
				outline: none;
			}
option{
				padding:0;
			}
textarea{
				resize: none;
			}
img{
	border: none;
	vertical-align: top;
	border: 0;
	overflow: hidden;
	
}
p,body{
	margin: 0;
}	
i,b,em{
	font-style: normal;
}	
