html{
	height: 100%;
	overflow: hidden;
}
body{
	height: 100%;
	overflow: auto;
}
#top{
	width: 100%;
	height: 2.5rem;
	border-bottom: 0.025rem solid #d8d8d8;
	border-top: 0.025rem solid #d8d8d8;
	position: absolute;
	top: 0;
	left: 0;
	background: #ffffff;
	z-index: 500;
	
}
#top h1{
	width: 2.95rem;
	height: 2.5rem;
	background-size: 100%;
	margin-right: 0.3rem;
}
#top h1 img{
	width: 2.95rem;
	height: 2.5rem;
}
.top_site{
	font:0.75rem/2.45rem arial;
	margin-right: 0.575rem;
}
.top_search{
	width: 8.75rem;
	height: 1.7rem;
	border: 0.05rem solid #c6c6c6;
	border-radius: 0.625rem;
	margin-top: 0.35rem;
}
.top_search1 a{
	width: 1.05rem;
	height: 1.05rem;
	margin-left: 0.4rem;
	margin-top: 0.25rem;;
	display: block;

}
.top_search1 img{
	width: 1.05rem;
	height: 1.05rem;
}
.top_search2{
	font: 0.65rem/1.55rem arial;
	color: #a7a7a7;
	width: 6.25rem;
	height: 1.55rem;
	outline: none;
}
.top_right li{
	margin-top:0.4rem ;
	margin-left: 0.525rem;
	text-align: center;
}
.top_right li span{
	font-size: 0.55rem;
	display: block;
	color: #fe574f;
}
.top_right li img{
	width: 1.05rem;
	height: 1.05rem;
	margin-bottom: 0.275rem;
}
/*
             头部下的第一块
 * */
.content1{
	width: 100%;
	height: 5.75rem;
	margin-top: 2.5rem;
}
.content1 img{
	width: 100%;
	height: 5.75rem;
}
/*
    头部导航栏
 * */
#content2{
	width: 100%;
	height: 8.75rem
}
.content2{
	
	height: 8.15rem;
	margin-top: 0.65rem;
	width: 100%;
}
.content2 li{
	width: 20%;
	text-align: center;
	margin-bottom: 0.75rem;
}
.content2 .margin_bottom{
	margin-bottom: 0;
}
.content2 img{
	width: 2.25rem;
	height: 2.25rem;
}
.content2 li span{
	font: 0.65rem/1.35rem arial;
	display: block;
}
/*
       头部导航栏下边的广告栏
 * */
#content3{
	width: 100%;
	height: 4.6rem;
	background: #f5f5f5;
	
}
#content3 img{
	width: 16.9rem;
	height: 3.6rem;
	margin: 0.5rem 0.55rem;
}
/*
                 今日剁手价
 * */
#content4{
	width: 100%;
	height: 14.65rem ;
	border-top: 0.1rem solid #e1e1e1;
}
.content4_top{
	width: 100%;
	height: 2.425rem;
}
.content4_top_left{
	font: 0.75rem/2.325rem arial;
	
}
.content4_top_left i{
	width: 0.1rem;
	height: 1rem;
	border-left: 0.1rem solid #fe3926;
	margin-top: 0.7rem;
	margin-right: 0.5rem;
}
.content4_con li{
	width: 6.85rem;
	height: 11.6rem;
	border: 0.05rem;
	padding-left: 0.575rem;
	padding-right: 0.45rem;
	border: 0.05rem solid #e2e2e2;
	margin-left: 0.575rem;
	position: relative;
}
.img{
	margin-bottom: 0.825rem;
	width: 6.875rem;
	height: 6.875rem;
}
.content4_con span{
	font: 0.65rem/0.925rem arial;
	color: #616161;
	-webkit-text-stroke: 1px #d2d2d2;
	display: block;
}
.content4_con a{
	display: block;
}
.content4_con i{
	font-size: 0.75rem;
	color: #f74334;
	margin-right: 0.2rem;
}
.content4_con b{
	font-size: 0.5rem;
	color: #b8b8b8;
	text-decoration: line-through;
	position: relative;
	margin-top: 0.1rem;
	height: 0.5rem;
}
..content4_con em{
	display: block;
	
}
.content4_con em img{
	width: 1.575rem;
	height: 0.7rem;
	position:absolute;
	top: -0.75rem;
	left: 0.125rem;
	
}
.content4_con p{
	padding-top: 0.725rem;
	display: block;
	height: 1.275rem;
}
.content4_con strong{
	display: block;
}
.content4_con strong img{
	width: 1.125rem;
	height: 1.125rem;
	position: absolute;
	top: 9.95rem;
	right: 0;
}
/*
                    今日剁手价下边
 * */
#content5{
	width: 100%;
	height: 6.5rem;
	border-top: 0.2rem solid #e0e0e0;
	background: #f5f5f5;
}
.content5{
	
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
.content5 li{
	margin-right: 0.25rem;
	margin-top: 0.5rem;
}
.content5 .margin_right{
	margin-right: 0;
}

.content5 img{
	width: 5.5rem;
	height: 5.5rem;
}
/*
 * 
 * 	金牌秒杀
 */
				
#content6{
	width: 100%;
	height: 9.55rem;
	border-top: 0.05rem solid #e1e1e1;
}
.content6_left img{
	width: 6.9rem;
	height: 9.55rem;
}
.content6_right_top{
	border-left: 0.05rem solid #e1e1e1;
	border-bottom: 0.05rem solid #e1e1e1;
}
.content6_right_top img{
	width: 11.05rem;
	height: 4.75rem;
}
.content6_right_bottom img{
	width: 5.5rem;
	height: 4.75rem;
}
.content6_right_bottom1,.content6_right_bottom2{
	border-left: 0.05rem solid #e1e1e1;
}
/*
          博洋
 * */
#content7{
	width: 100%;
	height: 6.45rem;
	border-top: 0.05rem solid #dfdfdf;
	background: #f5f5f5;
}
.content7 li img{
	width: 5.5rem;
	height: 5.55rem;
}
.content7 li{
	margin-top: 0.45rem;
}
/*
            轧马路
 * */
#content8{
	width: 100%;
	height: 35.95rem;
	border-top: 0.05rem solid #e0e0e0;
}
#content8 li{
	border-bottom: 0.05rem solid #e0e0e0;
}
#content8 img{
	height: 7.15rem;
}
.contnet8_li1{
	border-right: 0.05rem solid #e0e0e0;
}
.contnet8_li1 img{
	width: 11.925rem;
}
.contnet8_li2 img{
	width: 6rem;
}
.contnet8_li3{
	border-right: 0.05rem solid #e0e0e0;
	border-left: 0.05rem solid #e0e0e0;
}
.contnet8_li3 img{
	width: 5.9rem;
}
/*
 				超级闪亮
 * */
#content9{
	width: 100%;
	height: 6.5rem;
	background: #f5f5f5;
}
/*
    贵就赔
 * */
#content10{
	width: 100%;
	height: 13rem;
	border-top: 0.05rem solid #dfdfdf;
}
.contnet10_top{
	height: 2rem;
	font: 0.65rem/0.925rem arial;
	border-bottom: 0.05rem solid #dfdfdf;
}
.contnet10_top div{
	margin-top: 0.5rem;
}
.contnet10_top img{
	width: 0.85rem;
	height: 0.925rem;
	margin-: 0.9rem;
}
.content10_con{
	height: 10.95rem;
	background: #FFFFFF;
}
.content10_con img{
	height: 9.8rem;
	width: 6.2rem;
	border-right: 0.05rem solid #dfdfdf;
}
.content10_con li{
	margin-top: 0.6rem;
}
.content10_con .content10_con3 img{
	width: 5.5rem;
	border-right: 0;
}
/*
 			价比京东低
 * */
#content11{
	border-top: 0.05rem solid #dfdfdf;
}
.contnet11_top img{
	width: 0.9rem;
	height: 0.9rem;
}
